<% layout('layout/boilerplate') %>
    <h1>Edit campground</h1>
    <form action="/campgrounds/<%= camp.id %>?_method=PATCH" method="post">
        <div>
            <label for="title">Enter title</label>
            <input id="title" type="text" name="campground[title]" value="<%= camp.title %>">
        </div>
        <div>
            <label for="location">Enter location</label>
            <input id="location" type="text" name="campground[location]" value="<%= camp.location %>">
        </div>
        <button>Submit</button>
    </form>
    <a href="/campgrounds/<%= camp._id %>">Go Back</a>
