<% layout('layout/boilerplate') %>

    <h1>New campground</h1>
    <form action="/campgrounds" method="post">
        <div>
            <label for="title">Enter title</label>
            <input id="title" type="text" name="campground[title]">
        </div>
        <div>
            <label for="location">Enter location</label>
            <input id="location" type="text" name="campground[location]">
        </div>
        <button>Submit</button>
    </form>
    <a href="/campgrounds">Go Back</a>